@page
@model rpc_users_page.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Competitive Programing Network</h1> <br />
<img src="https://pbs.twimg.com/profile_images/493847405670850561/qslkfHlq.jpeg" alt="RPC_Logo" width="100" height="100" />
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Username</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Password</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <hr />
        <div class="form-group">
            <a asp-page="/Users/Create"><input type="button" value="Sign up" class="btn btn-primary" /></a>
        </div>
    </div>
</div>
